.skills-items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  padding: 10px 150px 10px 150px;
}
@media screen and (max-width: 480px) {
	.skills-items{
		padding: 10px;
	}
}