body{
	width: 100%;
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;
}
.div-component{
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 80px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
textarea {
  resize: none;
}